@import '~shared/styles/index.scss';

:global {
  @import '~react-select/dist/react-select';

  html, body, #root {
    height: 100%;
  }
}

.app {
  $font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  font-family: $font;
  text-align: center;
  background: $color-background;
  border-top: 10px solid $color-primary;
  min-height: 100%;
}
