@import '~shared/styles/index.scss';

:global {
  @import '~react-select/dist/react-select';
}

.app {
  $font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  font-family: $font;
  text-align: center;
  background: $color-background;
}

.appLogo {
  @include circle(80px);

  animation: appLogoSpin infinite 20s linear;
}

.appHeader {
  height: 60px;
  padding: 20px;
  color: $text-color-white;
  background: $color-primary;
}

@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
