@import '~shared/styles/index.scss';

:global {
  html,
  body,
  #root {
    box-sizing: border-box;
    height: 100%;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

.app {
  min-height: 100%;
  font-family: $font;
  text-align: center;
  border-top: 10px solid $color-primary;
  background: $color-background;
  color: $text-color-black;
}
