$color-primary: #0cae64;
$color-white: #fff;
$color-divider: #ccc;
$color-black: #000;
$color-background: rgba($color-primary, 0.03);
$color-background-2: rgba($color-white, 0.9);

$text-color-black: #232b33;
$text-color-white: #fff;
$text-color-light: rgba($text-color-black, 0.6);
