$fs-1: 1rem;

$font-body-small:      400 13px/18px 'Nunito Sans', sans-serif;
$font-body-small-bold: 700 13px/18px 'Nunito Sans', sans-serif;
$font-caption:         400 11px/15px 'Nunito Sans', sans-serif;
$font-caption-bold:    700 11px/15px 'Nunito Sans', sans-serif;
$font-body:            400 16px/22px 'Nunito Sans', sans-serif;
$font-body-bold:       700 16px/22px 'Nunito Sans', sans-serif;

$font-headline-1: 800 18px/28px 'Nunito Sans', sans-serif;
$font-headline-2: 600 16px/22px 'Nunito Sans', sans-serif;
$font-headline-3: 600 26px/35px 'Nunito Sans', sans-serif;
$font-headline-4: 600 30px/41px 'Nunito Sans', sans-serif;

$font-caption:            400 10px/14px 'Nunito Sans', sans-serif;
$font-caption-bold:       700 10px/14px 'Nunito Sans', sans-serif;
