@import '~shared/styles/index';

.classDay {
  margin: 15px 10px 40px;
  padding-top: 10px;
  font: $font-body;
  border-radius: 3px;
  background: $color-background-2;
  box-shadow: 0 0 22px rgba($color-black, 0.12);

  @media #{$desktop} {
    flex: 1;
  }
}

.date {
  margin-bottom: 10px;
  font: $font-headline-3;
  text-align: center;
  color: $text-color-black;
}
