@import '~shared/styles/index';

.tableWrapper {
  overflow-x: auto;
  max-width: 100%;
}

.table {
  border-collapse: collapse;
  max-width: 100%;
  text-align: left;
}

.tableHeading {
  border-bottom: 1px solid black;

  th {
    width: 100px;
  }
}
