@import '~shared/styles/index';

.item {
  display: flex;
  padding: 15px;
  flex-direction: column;

  &:not(:last-of-type) {
    border-bottom: 1px solid $color-divider;
  }

  &Exam {
    background: rgba($color-red, 0.1);
  }
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time {
  font: $font-headline-1;
}

.subject {
  font: $font-headline-1;
  text-align: center;
  text-align: left;
  color: $text-color-light;
  word-break: break-all;
}

.info {
  display: flex;
  padding: 15px 0 0;
  flex-wrap: wrap;
  justify-content: space-between;

  &Row {
    display: flex;
    width: 40%;
    margin: 5px 5% 5px 0;
    justify-content: space-between;
  }
}
