@import '~shared/styles/index';

.classDay {
  margin: 0 10px 30px;
  margin-bottom: 40px;
  padding: 10px 15px;
  font: $font-body;
  border-radius: 3px;
  background: $color-background-2;
  box-shadow: 0 10px 30px rgba($color-black, 0.1);
}

.date {
  font: $font-headline-3;
  text-align: center;
  color: $text-color-black;
}
