@import '~shared/styles/index';

.classDay {
  margin: 10px 5px 20px;
  padding: 10px 10px 10px;
  font: $font-body;
  border-radius: 3px;
  background: $color-background-2;
  border-radius: 5px;
  border: 1px solid $color-divider;

  @media #{$desktop} {
    flex: 1;
    max-width: 20%;
    margin: 10px 5px 10px;
  }
}

.date {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: rgba(0,0,0,0.6);
  text-transform: uppercase;
}
