@import '~shared/styles/index';

.wrapper {
  max-width: 1500px;
  margin: 0 auto 40px;
}

.dropdowns {
  display: flex;
  margin: 40px 10px 10px;
  flex-direction: column;

  @media #{$desktop} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.dropdown {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;

  @media #{$desktop} {
    width: initial;
    flex: 1;

    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }
}
